/* font.css */
.news-list {
    font-family: 'Josefin Sans', sans-serif;
}

.news-list h3 {
    font-family: 'Poppins', sans-serif;
}

.news-list p {
    font-family: 'Josefin Sans', sans-serif;
}

.news-list a {
    font-family: 'Josefin Sans', sans-serif;
}